<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>userpage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'stylee.css')  }}">

</head>

<body>

        <div class="xx"> <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="nav-link" href="{{ url_for('userpage',userpagee = usr)  }}">Hello {{usr[1]}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Balance {{usr[7]}}</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href= "{{ url_for('showproduct',dlist = usr,add = 0) }}">Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href= "{{ url_for('nxtp',dlist = usr) }}">next level Product show</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cart',dlist = usr,buy = 0) }}">Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('order_placed',dlist = usr,cancel = 0) }}">order_placed</a>
                  </li>
                
                
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success"  type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav></div>
       
  
    
  <div class="container">
    <h1  id ="he">Hey {{usr[1]}} Welcome to Dukkan</h1>
    <h2 id = "hi">You can add balance here</h2>
   <div class="container" id = "change"> 
    <form action="#" method="post">
        <form class="row g-3">
         
            <div class="col-md-6">
              <label for="inputusername4" class="form-label">amount</label>
              <input type="number" class="form-control" id="inputusername4" name = "usn">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="text" class="form-control" id="inputPassword4" name = "psw">
            </div>
          
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" value = "submit"><a href="{{ url_for('userpage',userpagee = usr)  }}"></a> update</button>
            </div>
          </form>
      </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>